} Frame {

position: absolute;
width: 1440px;
height: 5076px;

background: #FFFFFF;


} footer-background {

position: absolute;
width: 1260px;
height: 494px;

background: #8CC63F;


} Finding Roommates How it works FAQ {

position: absolute;
width: 232px;
height: 131px;

font-family: Nunito Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 24px;

color: #FFFFFF;


} Useful Links About us Trust & Safety Press Terms & Conditions Privacy Policy {

position: absolute;
width: 215px;
height: 230px;

font-family: Nunito Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 24px;

color: #FFFFFF;


} Hostel Booking How it works FAQ Money Back Guarantee Cancellation Policy {

position: absolute;
width: 255px;
height: 197px;

font-family: Nunito Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 24px;

color: #FFFFFF;


} myPadi.ng © myPadi Networks Technology Limited - RC 1417193 (myPadi.ng) 29 Mambilla Street, Off Aso Drive, FCT-Abuja Follow Us {

position: absolute;
width: 323px;
height: 262px;

font-family: Nunito Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 24px;

color: #FFFFFF;


} Facebook {

position: absolute;
width: 40px;
height: 40px;



} Instagram {

position: absolute;
width: 40px;
height: 40px;



} Twitter {

position: absolute;
width: 40px;
height: 40px;



} LinkedIN {

position: absolute;
width: 40px;
height: 40px;



} section5-background {

position: absolute;
width: 1290px;
height: 652px;

background: #64B6AC;


} Refer a friend & make some cash Yusuf gets 2% of every hostel his friends rents on myPadi.ng He simply tells them about us and we pay him for that when his referral code is used. Why not help your friend in need of a room and make money in the process? {

position: absolute;
width: 1258px;
height: 352px;

font-family: Nunito Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 36px;

color: #FFFFFF;


} refer-button {

position: absolute;
width: 216px;
height: 103.56px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


} REFER NOW! {

position: absolute;
width: 153px;
height: 33px;

font-family: Nunito Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 24px;

color: #8CC63F;


} section4-background {

position: absolute;
width: 1300px;
height: 556px;

background: #5D737E;


} start-searching-button {

position: absolute;
width: 228px;
height: 50px;

background: #8CC63F;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


} Start Searching Now {

position: absolute;
width: 136px;
height: 20px;

font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 14px;

color: #FFFFFF;


} Why use myPadi.ng? See why hundreds of students uses myPadi {

position: absolute;
width: 703px;
height: 99px;

font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 36px;
text-align: center;

color: #FFFFFF;


} polygon1 {

position: absolute;
width: 208px;
height: 186px;



} polygon2 {

position: absolute;
width: 189px;
height: 186px;



} polygon3 {

position: absolute;
width: 224px;
height: 193px;



} polygon4 {

position: absolute;
width: 213px;
height: 193px;



} section3-background {

position: absolute;
width: 1330px;
height: 224px;

background: #8CC63F;


} Do you have rooms/hostels for rent? Let's give you your next student tenant now! {

position: absolute;
width: 753px;
height: 99px;

font-family: Nunito Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 36px;

color: #FFFFFF;


} start-booking-button {

position: absolute;
width: 227.41px;
height: 67.93px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
transform: rotate(-4deg);


} Start Renting Now {

position: absolute;
width: 115px;
height: 17px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 14px;

color: #64B6AC;
transform: rotate(-5.88deg);


} section2-background {

position: absolute;
width: 1380px;
height: 1046px;

background: #64B6AC;


} Since 2016, we've been changing how students find hostels in Nigeria We're almost a 1 year old - and we’ve helped hundreds of students to find their perfect home away from home {

position: absolute;
width: 1161px;
height: 197px;

font-family: Nunito Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 36px;
text-align: center;

color: #FFFFFF;


} 300+ {

position: absolute;
width: 135px;
height: 100px;



} 2000+ {

position: absolute;
width: 142.5px;
height: 99.33px;



} 43-schools {

position: absolute;
width: 154px;
height: 100px;



} 100+ {

position: absolute;
width: 149px;
height: 111px;



} testimony1 {

position: absolute;
width: 371px;
height: 232px;

background: #FFFFFF;
border-radius: 5px;


} testimony-details1 {

position: absolute;
width: 396px;
height: 145px;

background: #8CC63F;
border-radius: 5px;


} Studacom.ng (now myPadi.ng) was so helpful during my 100 level in UNIBEN. Cosmos who was one of their staff was so patient in ensuring that I get the best place around Ekosodin. May God reward you guys for coming to my aid {

position: absolute;
width: 296.2px;
height: 115px;

font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 14px;

color: #666666;


} Chinyere Amadi Student from UNIBEN {

position: absolute;
width: 219px;
height: 148px;

font-family: Nunito Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 24px;
text-align: center;

color: #666666;
transform: rotate(-1.25deg);


} picture1 {

position: absolute;
width: 75px;
height: 75px;



} testimony {

position: absolute;
width: 399px;
height: 308px;

background: #FFFFFF;
border-radius: 5px;


} testimony-details2 {

position: absolute;
width: 415px;
height: 178px;

background: #8CC63F;
border-radius: 5px;


} Obah Sylva Landlord from Delta State {

position: absolute;
width: 233.46px;
height: 148px;

font-family: Nunito Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 24px;
text-align: center;

color: #666666;
transform: rotate(-1.25deg);


} Tessy Brown Crib was built in 2014 at Delta State Polytechnic, Ozoro. After the sudden drastic reduction in admission quota by the polytechnic regulatory body in 2016, we suffered great lost as there were no students to book for accommodation, my hostel was virtually empty throughout that year. But that was before I came in contact with Mypadi.ng ( formerlly Studacom.ng) in 2017. Since then our bookings has increased by over 60% {

position: absolute;
width: 332px;
height: 209px;

font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 14px;

color: #666666;


} picture2 {

position: absolute;
width: 75px;
height: 75px;



} testimony {

position: absolute;
width: 358px;
height: 392px;

background: #FFFFFF;
border-radius: 5px;


} testimony3-details {

position: absolute;
width: 342px;
height: 165px;

background: #8CC63F;
border-radius: 5px;


} I can't thank myPadi.ng enough for helping me find a place to stay in school. While I was so engulfed in school registrations, myPadi got my back in terms of where to stay. That I didn't pay agent fee makes it a WOW {

position: absolute;
width: 323px;
height: 129px;

font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 14px;

color: #666666;


} Ellipse {

position: absolute;
width: 75px;
height: 75px;

background: #C4C4C4;


} Abruthe Onos Student from DSPZ {

position: absolute;
width: 219px;
height: 148px;

font-family: Nunito Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 24px;
text-align: center;

color: #666666;
transform: rotate(-1.25deg);


} picture3 {

position: absolute;
width: 75px;
height: 75px;



} secttion1-bckground {

position: absolute;
width: 1380px;
height: 2255px;

background: #5D737E;


} for {

position: absolute;
width: 299.98px;
height: 203.13px;



} hostels {

position: absolute;
width: 621.73px;
height: 184.87px;



} backpackers {

position: absolute;
width: 866.71px;
height: 187.29px;



} bed {

position: absolute;
width: 856px;
height: 744px;



} or {

position: absolute;
width: 135.38px;
height: 33.91px;



} great {

position: absolute;
width: 488.26px;
height: 188px;



} Search-hostel {

position: absolute;
width: 467px;
height: 106px;



} search-hostel-button {

position: absolute;
width: 491px;
height: 130px;



} please-call {

position: absolute;
width: 428px;
height: 82px;



} mypadi-logo {

position: absolute;
width: 189.3px;
height: 107.57px;

background: url(mypadi-logo.png);
transform: rotate(-1.89deg);


} Become an Ambassador Rent your Hostel Signup Login {

position: absolute;
width: 751px;
height: 33px;

font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 24px;

color: #FFFFFF;
transform: rotate(-1.78deg);


}
